.container{
    // border: 2px solid var(--primary-color);
    // box-shadow: 2px 2px 5px var(--widget-shadow);
    background-color: var(--widget-bg);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-width: 150px;
    min-height: 150px;
    gap: 16px;
    box-shadow: 2px 2px 15px rgb(22, 22, 22);

    .title{
        width: 100%;
        color: var(--primary-color);
        font-family: "Orbitron", sans-serif;
        letter-spacing: 2px;
    }

    .current{
        font-size: 0.75rem;
    }

    textarea{
        flex-grow: 1;
        background-color: var(--background);
        width: 100%;
        color: var(--color);
        outline: none;
        border-color: var(--primary-color);
        border: none;
        padding: 8px;
        resize: vertical;
    }
}